.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;

    @media only screen and (max-width: $breakpoint-xsm) {
        margin: 6rem 0;
    }
}

.feature {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2.5rem;
    grid-column-gap: 1.5rem;

    &__icon {
        display: inline-block;
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;

        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}